services:
  db:
    image: postgres:18.1
    container_name: postgres_db
    restart: always
    env_file: 
      - .env.docker
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

volumes:
  postgres_data:
